
/* INDEX
[No.]--------------[Content]----------[Line No.]
01.-----------------Header--------------11



*/


/* Header = start */

.nav-content{
    text-decoration: none;
    padding: 0.5em;
    color: #7b7979;
}